body{
	background-color: lightblue;
	color:white;
}

h1{
	background-color: green;
	border:4px solid black;
}

h2{
	background-color: red;
	text-align: center;
	width:350px;
	height:50px;
	border: 2px solid black;
	padding: 50px 50px 30px 10px;
	margin:50px 50px 30px 20px;
}

p{
	background-color: lightgreen;
	color:magenta;
	text-align: center;
	width: 400px;
}

.specific-list{
	color:red;
}

.specific-bg{
	color:blue;
}
img{
	width:300px;
}
